<%= simple_form_for :registration, :url => registration_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%= form.label :fname %>
      <%= form.text_field :fname %>
    </div>
    
    <div class="field">
      <%= form.label :lname %>
      <%= form.text_field :lname %>
    </div>
    
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>

  </fieldset>
  
  <fieldset class="actions">
        <%= form.submit "Login", class: 'btn btn-primary btn-large' %>
      </fieldset>
<% end %>