	<div class="live">
	<h1>Realising the true impact of asthma</h1>
	<br>
	<!-- <img src="assets/realise-webcast.png"/> -->
	<iframe width="768" height="462" src="http://cdn.livestream.com/embed/fanaticgrouptv?layout=4&color=0xe7e7e7&autoPlay=false&mute=false&iconColorOver=0x888888&iconColor=0x777777&allowchat=true&height=385&width=640" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
<p>

	

	<div class="row">

<div class="jumbotron-realise span6 offset2">
		<!-- flash_notice to show if form submission is successful -->
	<div class="alert alert-notice" id="form-success" style="display: none;">
		Message was successfully sent.
	</div>

	<!-- flash_notice to show if form submission is unsuccessful -->
	<div class="alert alert-notice" id="form-error" style="display: none;">
		Please fill in all fields.
	</div>

	<h3 span>Please submit your questions to the REALISE&trade; experts for the Q&A session in English below.</h3>
	<div class="row">
			<div class="marketing-live">

		<div id="flash_notice" style="display:none"></div>
	<%= simple_form_for @message, :url => contact_path, method: :post, remote: true do |form| %>

	  		<%= form.input :name %>
	  		<%= form.input :country %>
	  		<%= form.input :doctor, label: 'Who in the panel would you like to answer your question?' %>
	  		<%= form.input :body, label: 'Question', as: :text, input_html: { size: "30x5"} %>
	  <br>
	  <fieldset class="actions">
	    <%= form.submit "Send", class: 'btn btn-primary btn-large' %>
	  </fieldset>
	</div>
<% end %>
</div>
</div>
</div>
</div>