<body class="<%= @home_page ? 'homepage' : ''%>">

<div class="container">
	<div class="jumbotron">

		<h1>
			Realising the true impact of asthma
		</h1>

		<p><i>
			 European Respiratory Society (ERS) Annual Congress 2013
		</p>

		<p>
			Tuesday 10 September, 14:30 – 15:15 CET
		</i></p>
			
			<h3>FOR EUROPEAN MEDIA ONLY</h3>

			<h4>Please register below to participate in the online media briefing.</h4>

			<br>

			<small>
				THIS MEDIA BRIEFING IS SPONSORED BY MUNDIPHARMA INTERNATIONAL LIMITED. IT WILL NOT COVER ANY SPECIFIC PRODUCT INFORMATION. 
  			</small>

</div>

<br>

<div class="marketing span6">

	<div id="flash_notice" style="display:none"></div>
		<%= simple_form_for :registration, :url => registration_path do |form| %>
		  <fieldset class="fields">
		    <div class="field">
		      <%= form.label 'Name' %>
		      <%= form.text_field :name %>
		    </div>

		    <div class="field">
		      <%= form.label 'Media Outlet' %>
		      <%= form.text_field :media %>
		    </div>

		    <div class="field">
		      <%= form.label 'Country' %>
		      <%= form.text_field :country %>
		    </div>
		    
		    <div class="field">
		      <%= form.label 'E-mail' %>
		      <%= form.text_field :email%>
		    </div>
		  </fieldset>
		  	
		  	<div class="field">
				<p><input id="accept" name="accept" type="checkbox" value="1" />&nbsp Please tick here to confirm you are a journalist.</p>
			</div>		  
		  <br>
		  <fieldset class="actions">
		    <%= form.submit "Register", class: 'btn btn-primary btn-large' %>
		  </fieldset>
		</div>
	<% end %>

</div>		

<%= yield %>
</body>	
