<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
				<%= link_to "Home", root_path %> | <%= link_to "Help Centre", help_path %>
	     </div>
    </div>
</div>
<div class="jumbotron" style="margin-top: -20px; background-color: #f3f3f3; color: #f3f3f3;">

	<!-- <img src='http://www.streamingwell.tv/bayermedicalwebex/assets/img/Bayer_logo.png' height="100px" width="100px" />

  <h2 style="color:#0090C5; margin-bottom: 10px;">Bayer Medical Webex Portal</h2> -->
  <div class="row">
	<h2 style="color: #0090C5;">Cancer- and treatment-related fatigue</h2>
	<h4 style="color: #333;">Dr Matti Aapro</h4>
	<iframe width="640" height="385" src="http://cdn.livestream.com/embed/streamingwell?layout=4&color=0x006ccd&autoPlay=true&mute=false&iconColorOver=0xe4f2ff&iconColor=0xb5dcff&allowchat=true&height=385&width=640" style="border:0;outline:0" frameborder="0" scrolling="no"></iframe>
	

	<div class="span5 offset3" align="center" style="padding-left: 0px;">
		<!-- flash_notice to show if form submission is successful -->
		<div class="livealert alert-notice" id="form-success" style="display: none;">
			You've raised your hand, Dr Aapro will take your question shortly.
		</div>

		<!-- flash_notice to show if form submission is unsuccessful -->
		<div class="livealert alert-notice" id="form-error" style="display: none;">
			Please fill in all fields.
		</div>

		<h4 style="color:#390;">Please type in your name to ask a question to Dr Aapro or alternatively type in your question for the moderator.</h4>


		<div id="flash_notice" style="display:none"></div>
			<%= simple_form_for @message, :url => contact_path, method: :post, remote: true do |form| %>

	  	<%= form.input :name, label: 'Name'%>

	  <br>
	  <fieldset class="actions">
	    <%= form.submit "Raise your hand", class: 'btn btn-primary btn-large' %>
	  </fieldset>
	</div>
<% end %>
</div>
</div>
<br />
<p align="center">If you experience difficulties playing the video, please visit the <%= link_to "Help Centre", help_path %>.</p>
