<body class="<%= @home_page ? 'homepage' : ''%>">

<div class="container">
	<div class="jumbotron" style="background-color: #fff; padding: 20px; margin-top: -20px;">


		<!-- <h1>
			Realising <strong>the true impact</strong> of asthma
		</h1>

		<p><i>
			 European Respiratory Society (ERS) Annual Congress 2013
		</p>

		<p>
			Tuesday 10 September, 14:30 – 15:15 CET
		</i></p>
			
			<h3>FOR EUROPEAN MEDIA ONLY</h3>

			<h4>Please register below to participate in the online media briefing.</h4> -->
			
			<div class="row">
       
      </div>

			<div class="row">
				<div class="span6" align="left" style="padding-left: 0px;">
					<img src='http://www.streamingwell.tv/bayermedicalwebex/assets/img/Bayer_logo.png' height="100px" width="100px" />
       		<h2 style="color:#0090C5; margin-bottom: 10px;">Bayer Medical Webex Portal</h2>
       		
       		<br/>

          <p style="color:#390; font-size: 18px;"><strong>Training module:</strong></p>
					<p style="font-size: 24px;"><i>Cancer- and treatment-related fatigue</i></p>

					<br />

	        <p style="font-size: 18px;">Dr Matti Aapro<br/>
	        Dean of the  Multidisciplinary Oncology Institute<br/>
	        Clinique de Genolier<br/>
	        Switzerland<br/>
	        </p>
	        <br/>
	        <p style="font-size: 16px;">Training will commence at <span style="color:#390;">08:00 (CET)</span> and then again at <span style="color:#390;">16:30 (CET) on Monday 22nd September, 2014</span> 
          <br />
          <br />
        	Please arrive 5 minutes early to log-on.</p>  
        </div>
        <br/>
        <div class="span5" align="left" style="margin-top: 40px; padding-left: 10px;">
        		<div id="flash_notice" style="display:none"></div>
						<%= simple_form_for :registration, :url => registration_path do |form| %>
						<%= form.error_notification %>
					  <%= form.input :fname, label: "First name" %>
				  	<%= form.input :lname, label: "Last name" %>
				  	<%= form.input :email, label: "Email address" %>
						<%= form.input :job, label: "Job function" %>  	

						  <fieldset class="actions">
						    <%= form.submit "Login", class: 'btn btn-primary btn-large' %>
						  </fieldset>
						</div>
					<% end %>
				</div>
			</div>

<br>

</div>

<p align="center">If you experience difficulties logging in or playing the video, please visit the <%= link_to "Help Centre", help_path %>.</p>

<%= yield %>

</body>