<body class="<%= @home_page ? 'homepage' : ''%>">

<div class="container">
	<div class="jumbotron" style="background-color: #fff; padding: 20px;">


		<!-- <h1>
			Realising <strong>the true impact</strong> of asthma
		</h1>

		<p><i>
			 European Respiratory Society (ERS) Annual Congress 2013
		</p>

		<p>
			Tuesday 10 September, 14:30 – 15:15 CET
		</i></p>
			
			<h3>FOR EUROPEAN MEDIA ONLY</h3>

			<h4>Please register below to participate in the online media briefing.</h4> -->
			
			<div class="row">
       
      </div>

      <br />

			<div class="row">
				<div class="span5" align="left" style="margin-left: 50px;">
					<img src='http://www.streamingwell.tv/bayermedicalwebex/assets/img/Bayer_logo.png' height="100px" width="100px" />
       		<h2 style="color:#0090C5; margin-bottom: 10px;">Bayer Medical Webex Portal</h2>
       		
       		<br/>

          <p style="color:#390; font-size: 18px;"><strong>Training module:</strong></p>
					<p style="font-size: 24px;"><i>Cancer- and treatment-related fatigue</i></p>

					<br />

	        <p style="font-size: 18px;">Dr Matti Aapro<br/>
	        Dean of the  Multidisciplinary Oncology Institute<br/>
	        Clinique de Genolier<br/>
	        Switzerland<br/>
	        </p>
        </div>
        <br/>
        <div class="span4 offset1" align="left" style="margin-top: 40px; margin-left: 50px;">
        		<div id="flash_notice" style="display:none"></div>
						<%= simple_form_for :registration, :url => registration_path do |form| %>
						<%= form.error_notification %>
					  <%= form.input :fname, label: "First name" %>
				  	<%= form.input :lname, label: "Last name" %>
				  	<%= form.input :email, label: "Email address" %>
						  	
						  <fieldset class="actions">
						    <%= form.submit "Login", class: 'btn btn-primary btn-large' %>
						  </fieldset>
						</div>
					<% end %>
				</div>
			</div>

<br>

</div>

<div class="row">
        <div class="span10" align="center">
        <small style="color:#390"><strong>Training will commence at 08:00 (CET) and then again at 17:00 (CET) on Monday 22nd September 
          <br />
        Please arrive 5 minutes early to log-on.</strong></small>   
        </div>   
      </div>
<%= yield %>

</body>