<!DOCTYPE html>
<html>
  <head>
    <title>Realising the true impact of asthma | REALISE&trade;</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'rails' %>

    <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
  </head>
  <body>

    <%= render 'layouts/header' %>
  
  <div class="container">
      <% flash.each do |name, msg| %>
          <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
        <% end %>
        <%= yield %>

  <%= render 'layouts/footer' unless @disable_nav %>

    <% if Rails.env.production? %>  
        <%= render 'layouts/ga' %>
      <% end %> 

  </body>
</html>